*{
    margin: 0;
    padding: 0;
}



h1{
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bold;
}

h2{
    font-weight: bold;
    font-size: 20px;
    font-family: sans-serif;
}

header, section, footer, aside, nav, article, hgroup {

display: block;
}
body{
    text-align: center;
    background: grey;
}

.agrupar {
    border: 1px solid black;
    width: 960px;
    margin: 15px auto;
    background: white;
   
}

.cabecera {
    background: black;
    border: 1px solid #999999;
    padding: 20px;
    color: red;
}

.cabecera h1{
    text-align: center;
}
.menu {
    background: yellow;
    padding: 5px 15px;
    text-align: left;
}

.menu li{
    list-style: none;
    padding: 5px;
    font: bold 14px verdana;
    display: inline-block;
}

.seccion {
    margin: 20px;
    width: 600px;
    float: left;
  
}


article {
    background: #fffbcc;
    border: 1px solid #999;
    padding: 20px;
    margin-bottom: 15px;
}

article footer{
    text-align: right;
    margin-top: 20px;
}

time{
    color: #999;
}


.columna{
    width: 300px;
    float: left;
    margin: 20px 0;
}

.columna blockquote{
    border: 1px solid black;
    padding: 40px;
    background: #fffbb9;
    margin-bottom: 20px;
}


.pie {
    clear: both;
    padding: 20px;
    background: 	#000000;
    color: 	#ffffff;
}

img{
    width: 400px;
    display: block;
    margin: auto;
}